@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/* Celulares X-Smalls */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0%;
}

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
  --green-color-primary: #384F3B;
  --green-color-second: #378241;
}


/* ------------ Header ------------ */

.fundo-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(#384f3b, #258d32);
  color: white;
  width: 100%;
}

.navbar {
  display: block;
  padding: 1px;
  margin: 0%;
  text-align: center;
  background: linear-gradient(to top, #384f3b, #258d32);
}

.fa-user {
  font-size: 22px;
  padding: 0px 0px 0px 14px;
}

.fa-user:hover {
  opacity: 0.8;
  transition: all 0.6;
}

#menu {
  display: none;
  position: absolute;
  right: 0;
  background: linear-gradient(to top, #384F3B, #258d32);
  width: 30%;
  z-index: 5;
}

#burguer {
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 15px;
}

#burguer:hover {
  color: white;
  opacity: 0.8;
  transition: all 0.6;
}

#nav.active #menu {
  display: block;
}

.button-nav {
  color: white;
  background-color: #384F3B;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  transition: 0.5s;
  font-size: 13px;
  width: 120px;
  margin: 10px;
  margin-left: -20%;
}

.button-nav:hover {
  background-color: #ffffff;
  color: #384F3B;
  font-weight: bold;
  font-size: 10px;
  transition: .5s;
}
.a-nav {
  text-decoration: none;
  color: rgb(19, 19, 19);
}
.a-nav:hover {
  background-color: transparent;
  transition: 1s;
}

.list-a {
  display: inline-block;
  list-style-type: none;
}

.h1-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Madimi One';
}

.img-altura-largura {
  width: 80px;
  height: 80px;
}

.fundo-nav-img {
  display: block;
  width: 85px;
  height: 85px;
  background-color: var(--color-neutral-10);
  padding: 0.20rem;
  border-radius: 60%;
  margin: 20px;
}

.a-fundo-nav {
  width: auto;
}

/* ------------ Main ------------ */

.main-gallery {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3rem 2rem;
  gap: 30px;
}

.img-gallery {
  max-width: 100%;
  height: auto;
  border: 1px solid #384f3b; /* Adiciona uma borda sutil para diferenciar as imagens */
  border-radius: 20px;
  box-shadow: 5px 5px 5px #384F3B;
  transition: .5s;
}

.img-gallery:hover{
  transform: scale(1.1);
}

/* ------------ Footer ------------ */

:root {
  --color-neutral-0: #384F3B;
  --color-neutral-10: #ffffff;
  --color-neutral-20: #378241;
  --color-neutral-30: #171717;
  --color-neutral-40: #646262;
}

.footer-content a {
  list-style-type: none;
  text-decoration: none;
}

.footer-content {
  background-color: var(--green-color-primary);
  width: 100%;
  height: 40vh;
  margin-top: 40px;
} 

.redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  gap: 6%;
  font-size: 28px;
}

#whatsapp, #youtube, #instagram{
  color: var(--second-color);
  transition: all .4s;
}

#instagram:hover, #whatsapp:hover, #youtube:hover {
 opacity: .6;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  gap: 20px;
}

.links a {
  color: var(--second-color);
  font-size: 18px;
  transition: all .4s;
}

.links a:hover {
  text-decoration: underline;
}

.footer-content img {
  padding: 8px;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: var(--second-color);
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  margin: 5px 0px;
}

.reserved {
  background-color: var(--black-color);
  color: var(--second-color);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reserved h1 {
  font-size: 18px;
}

@media screen and (min-width: 626px) {
  /* ------------ Cabeçalho --------- */

  .fundo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    width: 100%;
    background: linear-gradient(#384f3b, #258d32);
    color: white;
}

.navbar {
    display: block;
    padding: 1px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}

#menu {
    display: none;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 30%;
    z-index: 5;
}

#burguer {
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 50px 33px;

}

#burguer:hover {
    color: white;
    opacity: 0.8;
    transition: all 0.6;
}

#nav.active #menu {
    display: block;
}

.button-nav {
    color: white;
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 13px;
    width: 120px;
    margin: 10px;
    margin-left: -20%;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}
.a-nav:hover {
    background-color: transparent;
    transition: 1s;
}

.list-a {
    display: inline-block;
    list-style-type: none;
}

.h1-header {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

.img-altura-largura {
    width: 80px;
    height: 80px;
}

.fundo-nav-img {
    display: block;
    width: 85px;
    height: 85px;
    background-color: var(--color-neutral-10);
    padding: 0.20rem;
    border-radius: 60%;
    margin: 20px;
}

.a-fundo-nav {
    width: auto;
}

  /* ------------ Main ------------ */

  .main-gallery {
    width: 100%;
  }

  .main-gallery {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
    gap: 35px;
  }

  .img-gallery {
    max-width: 100%;
    height: auto;
    border: 1px solid #384f3b; /* Adiciona uma borda sutil para diferenciar as imagens */
    border-radius: 20px;
    box-shadow: 5px 5px 5px #384F3B;
    transition: .5s;
  }
  
  .img-gallery:hover{
    transform: scale(1.1);
  }

  /* --------- Footer ------------ */

  .footer-content {
    background-color: var(--green-color-primary);
    width: 100%;
    height: 42vh;
    margin-top: 40px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    gap: 2.8%;
    font-size: 28px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-content img {
    padding: 8px;
    width: 140px;
    height: 140px;
    border-radius: 160px;
    background-color: var(--second-color);
}

.links a {
    color: var(--second-color);
    font-size: 18px;
    transition: all .4s;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 10px 0px;
}

.reserved h1 {
    font-size: 26px;
}

}


@media screen and (min-width: 768px) {
  /* ----------- Cabeçalho ---------- */

.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}
.button-nav {
  background-color: #384F3B;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 9px;
  transition: 0.5s;
  font-size: 13px;
  width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    margin: 25px;
}

.navbar {
    display: block;
    padding: 0%;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384F3B, rgb(53, 141, 50));
}

.list-a {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
}

.a-nav {
    text-decoration: none;
    color: white;
}

.a-nav:hover {
    background-color: transparent;
    transition: 1s;
}
.h1-header {
    font-weight: 400;
    margin-right: 5%;
    margin-top: 0%;
    width: 90%;
    text-align: center;
    font-size: 26px;
}

  /* ------------ Main ------------ */

  .main-gallery {
    width: 100%;
  }

  .main-gallery {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 2rem;
    gap: 40px;
  }

  .img-gallery {
    max-width: 100%;
    height: auto;
    border: 1px solid #384f3b; /* Adiciona uma borda sutil para diferenciar as imagens */
    border-radius: 20px;
    box-shadow: 5px 5px 5px #384F3B;
    transition: .5s;
  }
  
  .img-gallery:hover{
    transform: scale(1.1);
  }

  /* --------- Footer ------------ */

  .footer-content {
    background-color: var(--green-color-primary);
    width: 100%;
    height: 40vh;
    margin-top: 60px;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-content img {
    padding: 8px;
    width: 140px;
    height: 140px;
    border-radius: 160px;
    background-color: var(--second-color);
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    gap: 2.8%;
    font-size: 28px;
}

.links a {
    color: var(--second-color);
    font-size: 18px;
    transition: all .4s;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 10px 0px;
}

.reserved h1 {
    font-size: 28px;
}

}

@media screen and (min-width: 992px) {

  /* ------- Cabeçalho -------- */

  .navbar {
    display: block;
    padding: 0px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}
.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}

.fa-user {
    padding: 0px 40px 0px 0px;
    font-size: 36px;
}

#menu {
    display: inline;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 100%;
    z-index: 5;
}

#burguer {
    display: none;

}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
    width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--color-neutral-10);
    border-radius: 60%;
    margin: 30px;
    margin-left: 30%;
}

.h1-header {
    font-weight: 400;
    width: 80%;
    text-align: center;
    font-size: 30px;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

button {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
}

button:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}


  /* ------ Main ---------- */

  .main-gallery {
    width: 100%;
  }

  .main-gallery {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .gallery-container {
    margin-top: 9%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 2rem;
    gap: 50px;
  }

  .img-gallery {
    max-width: 100%;
    height: auto;
    border: 1px solid #384f3b; /* Adiciona uma borda sutil para diferenciar as imagens */
    border-radius: 20px;
    box-shadow: 5px 5px 5px #384F3B;
    transition: .5s;
  }
  
  .img-gallery:hover{
    transform: scale(1.1);
  }


/* ---------- Footer ----------- */

.footer-content {
  background-color: var(--green-color-primary);
  width: 100%;
  height: 42vh;
  margin-top: 80px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
}

.footer-content img {
  padding: 8px;
  width: 140px;
  height: 140px;
  border-radius: 160px;
  background-color: var(--second-color);
}

.redes-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  gap: 2.8%;
  font-size: 32px;
}

.links a {
  color: var(--second-color);
  font-size: 20px;
  transition: all .4s;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: 15px 0px 0px 0px; 
}

.reserved h1 {
  font-size: 30px;
}

}

@media screen and(min-width: 1200px) {

  /* -------- Cabeçalho --------- */

  .navbar {
    display: block;
    padding: 0px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}
.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}
#menu {
    display: inline;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 100%;
    z-index: 5;
}

#burguer {
    display: none;

}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
    width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--color-neutral-10);
    border-radius: 60%;
    margin: 30px;
    margin-left: 30%;
}

.h1-header {
    font-weight: 400;
    width: 80%;
    text-align: center;
    font-size: 36px;
    margin: 5%;
    margin-right: 10%;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

  /* -------- Main ---------- */

  .main-gallery {
    width: 100%;
  }

  .main-gallery {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .gallery-container {
    margin-top: 9%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 2rem;
    gap: 65px;
  }

  .img-gallery {
    max-width: 100%;
    height: auto;
    border: 1px solid #384f3b; /* Adiciona uma borda sutil para diferenciar as imagens */
    border-radius: 20px;
    box-shadow: 5px 5px 5px #384F3B;
    transition: .5s;
  }
  
  .img-gallery:hover{
    transform: scale(1.1);
  }


  /* -------- Footer --------- */

  .footer-content {
    background-color: var(--green-color-primary);
    width: 100%;
    height: 42vh;
    margin-top: 100px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 30px 0px;
}

.footer-content img {
    padding: 8px;
    width: 140px;
    height: 140px;
    border-radius: 160px;
    background-color: var(--second-color);
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    gap: 2.8%;
    font-size: 30px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0px 0px 0px;
    gap: 20px;
}

.links a {
    color: var(--second-color);
    font-size: 22px;
    transition: all .4s;
}

.links a:hover {
    text-decoration: underline;
}

.reserved {
    background-color: var(--black-color);
    color: var(--second-color);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserved h1 {
    font-size: 34px;
}
}

@media screen and (min-width: 1400px) {

  /* ------------ Cabeçalho ------------ */
  .navbar {
    display: block;
    padding: 0px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}
.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}
#menu {
    display: inline;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 100%;
    z-index: 5;
}

#burguer {
    display: none;

}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
    width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--color-neutral-10);
    border-radius: 60%;
    margin: 30px;
    margin-left: 30%;
}

.h1-header {
    font-weight: 400;
    width: 80%;
    text-align: center;
    font-size: 36px;
    margin: 5%;
    margin-right: 10%;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

/* ------------ Main ------------- */
.main-gallery {
  width: 100%;
}

.main-gallery {
  max-width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.gallery-container {
  margin-top: 9%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 2rem;
  gap: 70px;
}

.img-gallery {
  max-width: 100%;
  height: auto;
  border: 1px solid #384f3b; /* Adiciona uma borda sutil para diferenciar as imagens */
  border-radius: 20px;
  box-shadow: 5px 5px 5px #384F3B;
  transition: .5s;
}

.img-gallery:hover{
  transform: scale(1.1);
}


  /* ------------ Footer ------------ */

  .footer-content {
    background-color: var(--green-color-primary);
    width: 100%;
    height: 50vh;
    margin-top: 120px;
} 

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    gap: 2.8%;
    font-size: 36px;
}

#whatsapp, #youtube, #instagram{
    color: var(--second-color);
    transition: all .4s;
}

#instagram:hover, #whatsapp:hover, #youtube:hover {
   opacity: .6;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    gap: 20px;
}

.links a {
    color: var(--second-color);
    font-size: 26px;
    transition: all .4s;
    margin: 8px 0px;
}

.links a:hover {
    text-decoration: underline;
}

.reserved {
    background-color: var(--black-color);
    color: var(--second-color);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content img {
    padding: 8px;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    background-color: var(--second-color);
}

.footer-logo {
    display: flex;
    justify-content: center;
}

}


