* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0%;
}

:root {
    --color-neutral-0: #384F3B;
    --color-neutral-10: #ffffff;
    --color-neutral-20: #378241;
    --color-neutral-30: #171717;
    --color-neutral-40: #646262;
}

:root {
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
    --green-color-primary: #384F3B;
    --green-color-second: #378241;
}

 /* ------------ Header ------------ */
 .fundo-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#384f3b, #258d32);
    color: white;
    width: 100%;
}

.navbar {
    display: block;
    padding: 1px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}

.fa-user {
    font-size: 22px;
    padding: 0px 0px 0px 14px;
}

.fa-user:hover {
    opacity: 0.8;
    transition: all 0.6;
}

#menu {
    display: none;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 30%;
    z-index: 5;
}

#burguer {
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 15px;
}

#burguer:hover {
    color: white;
    opacity: 0.8;
    transition: all 0.6;
}

#nav.active #menu {
    display: block;
}

.button-nav {
    color: white;
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 13px;
    width: 120px;
    margin: 10px;
    margin-left: -20%;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}
.a-nav:hover {
    background-color: transparent;
    transition: 1s;
}

.list-a {
    display: inline-block;
    list-style-type: none;
}

.h1-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.img-altura-largura {
    width: 80px;
    height: 80px;
}

.fundo-nav-img {
    display: block;
    width: 85px;
    height: 85px;
    background-color: var(--color-neutral-10);
    padding: 0.20rem;
    border-radius: 60%;
    margin: 20px;
}

.a-fundo-nav {
    width: auto;
}


/* ------------ Main ------------ */
.carrosel-img-wh {
    height: 40vh;
    width: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
}

.h1-texto-info-gp {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
    color: var(--color-neutral-0);
}

.texto-info-gp {
    text-align: justify;
    font-weight: bold;
    font-size: 1rem;
    margin: 0px 10%;
    margin-bottom: 15%;
    color: #384F3B;
}

.cards-texto-top {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: -10%;
    font-weight: bold;
    color: #384F3B;
}

.cards-texto-info {
    display: none;
}

.cards-eventos {
    display: grid;
    margin: 15%;
}

.cards-cd1 {
    margin-bottom: 20%;
    text-align: center;
}

.cards-img {
    width: auto;
    height: auto;
}


/* ------------ Footer ------------ */

.footer-content a {
    list-style-type: none;
    text-decoration: none;
}

.footer-content {
    background-color: var(--green-color-primary);
    width: 100%;
    height: 40vh;
} 

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    gap: 6%;
    font-size: 28px;
}

#whatsapp, #youtube, #instagram{
    color: var(--second-color);
    transition: all .4s;
}

#instagram:hover, #whatsapp:hover, #youtube:hover {
   opacity: .6;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    gap: 20px;
}

.links a {
    color: var(--second-color);
    font-size: 18px;
    transition: all .4s;
}

.links a:hover {
    text-decoration: underline;
}

.footer-content img {
    padding: 8px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: var(--second-color);
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    margin: 5px 0px;
}

.reserved {
    background-color: var(--black-color);
    color: var(--second-color);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserved h1 {
    font-size: 24px;
}


@media screen and (min-width: 626px) {
     /* ------------ Header ------------ */
     .fundo-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        width: 100%;
        background: linear-gradient(#384f3b, #258d32);
        color: white;
    }

    .navbar {
        display: block;
        padding: 1px;
        margin: 0%;
        text-align: center;
        background: linear-gradient(to top, #384f3b, #258d32);
    }

    #menu {
        display: none;
        position: absolute;
        right: 0;
        background: linear-gradient(to top, #384F3B, #258d32);
        width: 30%;
        z-index: 5;
    }

    #burguer {
        color: white;
        text-align: center;
        cursor: pointer;
        margin: 50px 33px;

    }

    #burguer:hover {
        color: white;
        opacity: 0.8;
        transition: all 0.6;
    }

    #nav.active #menu {
        display: block;
    }

    .button-nav {
        color: white;
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px;
        transition: 0.5s;
        font-size: 13px;
        width: 120px;
        margin: 10px;
        margin-left: -20%;
    }

    .button-nav:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }
    .a-nav {
        text-decoration: none;
        color: rgb(19, 19, 19);
    }
    .a-nav:hover {
        background-color: transparent;
        transition: 1s;
    }

    .list-a {
        display: inline-block;
        list-style-type: none;
    }

    .h1-header {
        margin: 0px;
        font-size: 20px;
        font-weight: 700;
    }

    .img-altura-largura {
        width: 80px;
        height: 80px;
    }

    .fundo-nav-img {
        display: block;
        width: 85px;
        height: 85px;
        background-color: var(--color-neutral-10);
        padding: 0.20rem;
        border-radius: 60%;
        margin: 20px;
    }

    .a-fundo-nav {
        width: auto;
    }


    /* ------------ Main ------------ */
    .carrosel-img-wh {
        height: 60vh;
        width: 100%;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .h1-texto-info-gp {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 5%;
        color: var(--color-neutral-0);
    }

    .texto-info-gp {
        text-align: justify;
        font-weight: bold;
        font-size: 1rem;
        margin: 0px 10%;
        margin-bottom: 15%;
        color: #384F3B;
    }

    .cards-texto-top {
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: -10%;
        font-weight: bold;
        color: #384F3B;
    }

    .cards-texto-info {
        display: none;
    }

    .cards-eventos {
        display: grid;
        margin: 15%;
    }

    .cards-cd1 {
        margin-bottom: 20%;
        text-align: center;
    }

    .cards-img {
        width: auto;
        height: auto;
    }


    /* ------------ Footer ------------ */

    .footer-content {
        background-color: var(--green-color-primary);
        width: 100%;
        height: 42vh;
    }

    .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        gap: 2.8%;
        font-size: 28px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-content img {
        padding: 8px;
        width: 140px;
        height: 140px;
        border-radius: 160px;
        background-color: var(--second-color);
    }

    .links a {
        color: var(--second-color);
        font-size: 18px;
        transition: all .4s;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
        margin: 10px 0px;
    }

    .reserved h1 {
        font-size: 26px;
    }
}

@media (min-width: 768px) {

    /* ------------ Header ------------ */
    .fundo-nav {
        display: flex;
        margin: 0%;
        background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
        color: white;
        text-align: center;
    }
    .button-nav {
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 9px;
        transition: 0.5s;
        font-size: 13px;
        width: 480px;
        margin-left: -5%;
    }

    .button-nav:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }

    .fundo-nav-img {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 60%;
        margin: 25px;
    }

    .navbar {
        display: block;
        padding: 0%;
        margin: 0%;
        text-align: center;
        background: linear-gradient(to top, #384F3B, rgb(53, 141, 50));
    }

    .list-a {
        display: inline-block;
        list-style-type: none;
        margin-left: 25px;
        margin-right: 25px;
    }

    .a-nav {
        text-decoration: none;
        color: white;
    }

    .a-nav:hover {
        background-color: transparent;
        transition: 1s;
    }
    .h1-header {
        margin-right: 5%;
        margin-top: 0%;
        width: 90%;
        text-align: center;
        font-size: 26px;
    }


    /* ------------ Main------------ */
    .carrosel-img-wh {
        height: 60vh;
    }

    .h1-texto-info-gp {
        text-align: center;
        margin-left: 10px;
        font-size: 2em;
    }

    .texto-info-gp {
        text-align: justify;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0px 10%;
        margin-bottom: 40px;
        color: #384F3B;
    }

    .cards-texto-top {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 1%;
        font-weight: bold;
        color: #384F3B;
    }

    .cards-texto-info {
        display: none;
    }

    .cards-cd1 {
        margin: 2%;
        margin-bottom: 10%;
        text-align: center;
    }

    .cards-img {
        width: auto;
        height: auto;
    }

    /* ------------ Footer ------------ */
    
    .footer-content {
        background-color: var(--green-color-primary);
        width: 100%;
        height: 40vh;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-content img {
        padding: 8px;
        width: 140px;
        height: 140px;
        border-radius: 160px;
        background-color: var(--second-color);
    }

    .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 0px 0px;
        gap: 2.8%;
        font-size: 28px;
    }

    .links a {
        color: var(--second-color);
        font-size: 18px;
        transition: all .4s;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
        margin: 10px 0px;
    }

    .reserved h1 {
        font-size: 28px;
    }
}


@media (min-width: 992px) {

    /* ------------ Header ------------ */
    .navbar {
        display: block;
        padding: 0px;
        margin: 0%;
        text-align: center;
        background: linear-gradient(to top, #384f3b, #258d32);
    }
    .fundo-nav {
        display: flex;
        margin: 0%;
        background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
        color: white;
        text-align: center;
    }

    .fa-user {
        padding: 0px 40px 0px 0px;
        font-size: 36px;
    }

    #menu {
        display: inline;
        position: absolute;
        right: 0;
        background: linear-gradient(to top, #384F3B, #258d32);
        width: 100%;
        z-index: 5;
    }
    
    #burguer {
        display: none;
    
    }
    .a-nav {
        text-decoration: none;
        color: rgb(19, 19, 19);
    }

    .button-nav {
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px;
        transition: 0.5s;
        font-size: 14px;
        width: 120px;
    }

    .button-nav:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }

    .fundo-nav-img {
        display: block;
        width: 120px;
        height: 120px;
        background-color: var(--color-neutral-10);
        border-radius: 60%;
        margin: 30px;
        margin-left: 30%;
    }

    .h1-header {
        width: 80%;
        text-align: center;
        font-size: 30px;
    }

    .list-a{
        display: inline-block;
        list-style-type: none;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 15px;
    }

    /* ------------ Main ------------ */
    .carrosel-img-wh {
        height: 80vh;
    }

    .h1-texto-info-gp {
        text-align: center;
        font-size: 2.4em;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 5%;
        color: #384F3B;
    }

    .texto-info-gp {
        text-align: justify;
        margin-bottom: 15%;
        color: #2f4232;
    }

    .cards-texto-top {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1%;
        font-weight: bold;
        color: #384F3B;
    }

    .cards-texto-info {
        display: flex;
        margin: 0% 10%;
        text-align: justify;
        color: #2f4232;
        font-size: 1rem;
        margin-bottom: 1%;
    }

    .cards-eventos {
        display: flex;
    }

    .cards-cd1 {
        display: flex;
        width: 300px;
        height: auto;
        margin-bottom: 5%;
        text-align: center;
    }

    .cards-img {
        width: auto;
        height: auto;
    }

    /* ------------ Footer ------------ */
    

    .footer-content {
        background-color: var(--green-color-primary);
        width: 100%;
        height: 42vh;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px;
    }

    .footer-content img {
        padding: 8px;
        width: 140px;
        height: 140px;
        border-radius: 160px;
        background-color: var(--second-color);
    }

    .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 0px 0px;
        gap: 2.8%;
        font-size: 32px;
    }

    .links a {
        color: var(--second-color);
        font-size: 20px;
        transition: all .4s;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 15px 0px 0px 0px; 
    }

    .reserved h1 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    
    /* ----------- Cabeçalho --------- */
    .navbar {
        display: block;
        padding: 0px;
        margin: 0%;
        text-align: center;
        background: linear-gradient(to top, #384f3b, #258d32);
    }
    .fundo-nav {
        display: flex;
        margin: 0%;
        background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
        color: white;
        text-align: center;
    }
    #menu {
        display: inline;
        position: absolute;
        right: 0;
        background: linear-gradient(to top, #384F3B, #258d32);
        width: 100%;
        z-index: 5;
    }
    
    #burguer {
        display: none;
    
    }
    .a-nav {
        text-decoration: none;
        color: rgb(19, 19, 19);
    }

    .button-nav {
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px;
        transition: 0.5s;
        font-size: 14px;
        width: 120px;
    }

    .button-nav:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }

    .fundo-nav-img {
        display: block;
        width: 120px;
        height: 120px;
        background-color: var(--color-neutral-10);
        border-radius: 60%;
        margin: 30px;
        margin-left: 30%;
    }

    .h1-header {
        width: 80%;
        text-align: center;
        font-size: 36px;
        margin: 5%;
        margin-right: 10%;
    }

    .list-a{
        display: inline-block;
        list-style-type: none;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 15px;
    }

    /* ----------- Main ------------- */

    .carrosel-img-wh {
        height: 90vh;
    }

    .h1-texto-info-gp {
        text-align: center;
        font-size: 2.4em;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 5%;
        color: #384F3B;
    }

    .texto-info-gp {
        text-align: justify;
        font-weight: bold;
        font-size: 1.4rem;
        margin: 0px 10%;
        margin-bottom: 15%;
        color: #2f4232;
    }

    .cards-texto-top {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1%;
        font-weight: bold;
        color: #384F3B;
    }

    .cards-texto-info {
        display: flex;
        margin: 0% 10%;
        text-align: justify;
        color: #2f4232;
        font-size: 1rem;
        margin-bottom: 1%;
    }

    .cards-eventos {
        display: flex;
    }

    .cards-cd1 {
        display: flex;
        width: 390px;
        height: auto;
        margin-bottom: 5%;
        text-align: center;
    }

    .cards-img {
        width: auto;
        height: auto;
    }

    /* ------------ Footer ------------ */
    
    .footer-content {
        background-color: var(--green-color-primary);
        width: 100%;
        height: 42vh;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        margin: 30px 0px;
    }

    .footer-content img {
        padding: 8px;
        width: 140px;
        height: 140px;
        border-radius: 160px;
        background-color: var(--second-color);
    }

    .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 0px 0px;
        gap: 2.8%;
        font-size: 30px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0px 0px 0px;
        gap: 20px;
    }

    .links a {
        color: var(--second-color);
        font-size: 22px;
        transition: all .4s;
    }
    
    .links a:hover {
        text-decoration: underline;
    }

    .reserved {
        background-color: var(--black-color);
        color: var(--second-color);
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reserved h1 {
        font-size: 34px;
    }
}

@media (min-width: 1400px) {
    /* ------------ Cabeçalho ------------- */
    .navbar {
        display: block;
        padding: 0px;
        margin: 0%;
        text-align: center;
        background: linear-gradient(to top, #384f3b, #258d32);
    }
    .fundo-nav {
        display: flex;
        margin: 0%;
        background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
        color: white;
        text-align: center;
    }
    #menu {
        display: inline;
        position: absolute;
        right: 0;
        background: linear-gradient(to top, #384F3B, #258d32);
        width: 100%;
        z-index: 5;
    }
    
    #burguer {
        display: none;
    
    }
    .a-nav {
        text-decoration: none;
        color: rgb(19, 19, 19);
    }

    .button-nav {
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px;
        transition: 0.5s;
        font-size: 14px;
        width: 120px;
    }

    .button-nav:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }

    .fundo-nav-img {
        display: block;
        width: 120px;
        height: 120px;
        background-color: var(--color-neutral-10);
        border-radius: 60%;
        margin: 30px;
        margin-left: 30%;
    }

    .h1-header {
        width: 80%;
        text-align: center;
        font-size: 36px;
        margin: 5%;
        margin-right: 10%;
    }

    .list-a{
        display: inline-block;
        list-style-type: none;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 15px;
    }

    /* ------------ Main ---------------- */

    .carrosel-img-wh {
        height: 90vh;
    }

    .h1-texto-info-gp {
        text-align: center;
        font-size: 2.4em;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 5%;
        color: #384F3B;
    }

    .texto-info-gp {
        text-align: justify;
        font-weight: bold;
        font-size: 1.4rem;
        margin: 0px 10%;
        margin-bottom: 15%;
        color: #2f4232;
    }

    .cards-texto-top {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1%;
        font-weight: bold;
        color: #384F3B;
    }

    .cards-texto-info {
        display: flex;
        margin: 0% 10%;
        text-align: justify;
        color: #2f4232;
        font-size: 1rem;
        margin-bottom: 1%;
    }

    .cards-eventos {
        display: flex;
    }

    .cards-cd1 {
        display: flex;
        justify-content: space-around;
        width: 450px;
        height: auto;
        margin-bottom: 5%;
        text-align: center;
    }

    .cards-img {
        width: auto;
        height: auto;
    }

    /* -------------- Footer ------------ */
    
    .footer-content {
        background-color: var(--green-color-primary);
        width: 100%;
        height: 50vh;
    } 
    
    .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 0px 0px;
        gap: 2.8%;
        font-size: 36px;
    }
    
    #whatsapp, #youtube, #instagram{
        color: var(--second-color);
        transition: all .4s;
    }
    
    #instagram:hover, #whatsapp:hover, #youtube:hover {
       opacity: .6;
    }
    
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        gap: 20px;
    }
    
    .links a {
        color: var(--second-color);
        font-size: 26px;
        transition: all .4s;
        margin: 8px 0px;
    }
    
    .links a:hover {
        text-decoration: underline;
    }
    
    .reserved {
        background-color: var(--black-color);
        color: var(--second-color);
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-content img {
        padding: 8px;
        width: 160px;
        height: 160px;
        border-radius: 100px;
        background-color: var(--second-color);
    }
    
    .footer-logo {
        display: flex;
        justify-content: center;
    }
}