/* Celulares X-Smalls */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}

 /* ------------ Header ------------ */
    
 .fundo-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#384f3b, #258d32);
    color: white;
    width: 100%;
}

.navbar {
    display: block;
    padding: 1px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}

.fa-user {
    font-size: 22px;
    padding: 0px 0px 0px 14px;
}

.fa-user:hover {
    opacity: 0.8;
    transition: all 0.6;
}

#menu {
    display: none;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 30%;
    z-index: 5;
}

#burguer {
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 15px;
}

#burguer:hover {
    color: white;
    opacity: 0.8;
    transition: all 0.6;
}

#nav.active #menu {
    display: block;
}

.button-nav {
    color: white;
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 13px;
    width: 120px;
    margin: 10px;
    margin-left: -20%;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}
.a-nav:hover {
    background-color: transparent;
    transition: 1s;
}

.list-a {
    display: inline-block;
    list-style-type: none;
}

.h1-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.img-altura-largura {
    width: 80px;
    height: 80px;
}

.fundo-nav-img {
    display: block;
    width: 85px;
    height: 85px;
    background-color: var(--color-neutral-10);
    padding: 0.20rem;
    border-radius: 60%;
    margin: 20px;
}

.a-fundo-nav {
    width: auto;
}


/* ------------ Main ------------ */

body {
    background-color: white;
}

.button-content {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.cadbutton {
   padding: 6%;
   border-radius: 24px;
   border: none;
   width: 340px;
   color: var(--color-neutral-0);
   font-weight: 700;
   transition: .4s;
}

.cadbutton:hover {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-10);
    font-weight: 700;
    box-shadow: 0px 0px 5px 5px var(--color-neutral-30);
}

.cor-ramo{
    color:#384F3B;
}

.cor-ramo:hover {
    opacity: 0.8;
    transition: all 0.6;
}


.h2-header{
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%;
    text-align: center; 
}

.p-texto{
    margin-bottom: 25px;
    margin-top: 25px; 
}

.divramos{
    display: inline-block;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0px;
    justify-content: center;
    color: black;
}

.divramos2{
   display: inline-block;
   width: 100%;
   text-align: center;
   margin: 0px;
   padding: 0px;
   justify-content: center;
   color: black;
}
   
.divtexto{
   display: inline-block;
   width: 80%;
   margin: 0 auto;
   background-color: #384F3B;
   color:white;
   padding: 5%;
   margin-top: 5%;
   border-radius: 30px;
   }

.apontar{
    cursor: pointer;
    margin-top: 10px;
}

.tamanho{
    width: 160px;
    height: 160px;
}

.h1-ramos{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    margin-top: 7%;
    margin-bottom: 5%;
}

/* ------------ Footer ------------ */

:root {
    --color-neutral-0: #384F3B;
    --color-neutral-10: #ffffff;
    --color-neutral-20: #378241;
    --color-neutral-30: #171717;
    --color-neutral-40: #646262;
}

.footer-content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 3rem;
    place-items: center;
    margin-top: 120px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: .3rem;
    width: 140px;
}

#email {
    background-color: var(--color-neutral-0);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    font-size: 12px;
}

.input-group button {
    background-color: var(--color-neutral-20);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    padding: 0% 1rem;
    font-size: 1.250rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-10);
}

.logo-asso {
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 200px;
    height: 25vh;
    padding: 3%;
    margin: 5px 0px 35px 0px;
    background-color: var(--color-neutral-10);
    border-radius: 50%;
}

.footer-link {
    text-decoration: none;
}

.footer-contacts h1{
    margin-bottom: 2.6rem;
}

h1 {
    display: flex;
    justify-content: center;
}

.footer-social {
    display: flex;
    gap: .5rem;
    margin: 1.3rem;
    justify-content: center;

}

.footer-social .footer-link {
    display: flex;
    text-align: center;
    margin: 5% 0%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: var(--color-neutral-10);
    border-radius: 50%;
}

.footer-social .footer-link i {
    font-size: 1.45rem;
}

.footer-social .footer-link:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0%;
}

.h2-footer {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: var(--color-neutral-10);
}

.text-footer {
    font-size: 14px;
    color: var(--color-neutral-10);
    text-align: justify;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.footer-list {
    color: var(--color-neutral-40);
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-direitos {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-30);
    font-size: 1.2rem;
    padding: 1.5rem;
    font-weight: 400;
}


@media screen and (min-width: 626px) {

    /* ------------ Cabeçalho ------------ */

    .fundo-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        width: 100%;
        background: linear-gradient(#384f3b, #258d32);
        color: white;
    }

    .navbar {
        display: block;
        padding: 1px;
        margin: 0%;
        text-align: center;
        background: linear-gradient(to top, #384f3b, #258d32);
    }

    #menu {
        display: none;
        position: absolute;
        right: 0;
        background: linear-gradient(to top, #384F3B, #258d32);
        width: 30%;
        z-index: 5;
    }

    #burguer {
        color: white;
        text-align: center;
        cursor: pointer;
        margin: 50px 33px;

    }

    #burguer:hover {
        color: white;
        opacity: 0.8;
        transition: all 0.6;
    }

    #nav.active #menu {
        display: block;
    }

    .button-nav {
        color: white;
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 10px;
        transition: 0.5s;
        font-size: 13px;
        width: 120px;
        margin: 10px;
        margin-left: -20%;
    }

    .button-nav:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }
    .a-nav {
        text-decoration: none;
        color: rgb(19, 19, 19);
    }
    .a-nav:hover {
        background-color: transparent;
        transition: 1s;
    }

    .list-a {
        display: inline-block;
        list-style-type: none;
    }

    .h1-header {
        margin: 0px;
        font-size: 20px;
        font-weight: 700;
    }

    .img-altura-largura {
        width: 80px;
        height: 80px;
    }

    .fundo-nav-img {
        display: block;
        width: 85px;
        height: 85px;
        background-color: var(--color-neutral-10);
        padding: 0.20rem;
        border-radius: 60%;
        margin: 20px;
    }

    .a-fundo-nav {
        width: auto;
    }

    /* ------------ Main ------------ */

    .button-content {
        display: flex;
        justify-content: center;
        padding: 3%;
    }
    
    .cadbutton {
       padding: 6%;
       border-radius: 24px;
       border: none;
       width: 340px;
       color: var(--color-neutral-0);
       font-weight: 700;
       transition: .4s;
    }
    
    .cadbutton:hover {
        background-color: var(--color-neutral-20);
        color: var(--color-neutral-10);
        font-weight: 700;
        box-shadow: 0px 0px 5px 5px var(--color-neutral-30);
    }

    .divramos{
        display: inline-block;
        width: 52%;
        text-align: center;
        padding: 0px;
        justify-content: center;
        color: black;
   }
   
   .divramos2{
       display: inline-block;
       width: 45%;
       text-align: center;
       margin: 0px;
       padding: 0px;
       justify-content: center;
       color: black;
   }
       
   .divtexto{
       display: inline-block;
       width: 80%;
       background-color: #384F3B;
       color:white;
       padding: 1%;
       margin-top: 25px;
       margin-bottom: 25px;
       border-radius: 30px;
       }

       .tamanho{
        width: 160px;
        height: 160px;
    }
     
.apontar{
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 50px;
    }
.esp{
    margin-bottom: 10px;
}

.h1-ramos{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    margin-top: 3%;
}

     /* ------------ Footer ------------ */

     :root {
        --color-neutral-0: #384F3B;
        --color-neutral-10: #ffffff;
        --color-neutral-20: #378241;
        --color-neutral-30: #171717;
        --color-neutral-40: #646262;
    }

    .footer-content {
        background-color: var(--color-neutral-0);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 3rem;
        place-items: center;
    }

    .input-group {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-neutral-0);
        border-radius: 4px;
    }

    .input-group input {
        all: unset;
        padding: 0.40rem;
        width: 160px;
        margin-left: 0%;
    }

    #email {
        background-color: var(--color-neutral-0);
        border: 3px solid var(--color-neutral-10);
        color: var(--color-neutral-10);
        font-size: 12px;
    }

    .input-group button {
        background-color: var(--color-neutral-20);
        border: 3px solid var(--color-neutral-10);
        color: var(--color-neutral-10);
        padding: 0% 1.5rem;
        font-size: 1.450rem;
        height: 100%;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
    }

    footer {
        box-sizing: border-box;
        letter-spacing: 1px;
        width: 100%;
        color: var(--color-neutral-10);
    }

    .footer-link {
        text-decoration: none;
    }

    .footer-contacts h1{
        margin-bottom: 2.6rem;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .logo-asso {
        display: flex;
        justify-content: center;
    }
    
    .footer-logo {
        width: 200px;
        height: 25vh;
        padding: 3%;
        margin: 5px 0px 35px 0px;
        background-color: var(--color-neutral-10);
        border-radius: 50%;
    }

    .footer-social {
        display: flex;
        gap: .5rem;
        margin-top: 1.3rem;
        justify-content: center;
    }

    .footer-social .footer-link {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 25px 5px;
        height: 2rem;
        width: 2rem;
        color: var(--color-neutral-10);
        border-radius: 50%;
    }

    .footer-social .footer-link i {
        font-size: 1.40rem;
    }

    .footer-social .footer-link:hover {
        opacity: 0.8;
        transition: all 0.4s;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        list-style: none;
        padding: 0%;
    }

    .h2-footer {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        color: var(--color-neutral-10);
    }

    .text-footer {
        font-size: 16px;
        color: var(--color-neutral-10);
        text-align: justify;
        display: flex;
        justify-content: center;
    }

    h2 {
        text-align: center;
    }

    .footer-list {
        color: var(--color-neutral-40);
    }

    .footer-list:hover {
        color: #7f37c9;
        transition: all 0.4s;
    }

    .footer-subscribe {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-direitos {
        display: flex;
        justify-content: center;
        background-color: var(--color-neutral-30);
        font-size: 1rem;
        padding: 1.5rem;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px) {
   /* ------------ Cabeçalho ------------ */

   .fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}
.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 9px;
    transition: 0.5s;
    font-size: 13px;
    width: 480px;
    margin-left: -5%;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    margin: 25px;
}

.navbar {
    display: block;
    padding: 0%;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384F3B, rgb(53, 141, 50));
}

.list-a {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
}

.a-nav {
    text-decoration: none;
    color: white;
}

.a-nav:hover {
    background-color: transparent;
    transition: 1s;
}
.h1-header {
    margin-right: 5%;
    margin-top: 0%;
    width: 90%;
    text-align: center;
    font-size: 26px;
}

/* ------------ Main ------------ */

.button-content {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.cadbutton {
   padding: 6%;
   border-radius: 24px;
   border: none;
   width: 340px;
   color: var(--color-neutral-0);
   font-weight: 700;
   transition: .4s;
}

.cadbutton:hover {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-10);
    font-weight: 700;
    box-shadow: 0px 0px 5px 5px var(--color-neutral-30);
}

.divramos{
    display: inline-block;
    width: 45%;
    text-align: center;
    height: 170px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    margin-left: 52px;
}

.divramos2{
    display: inline-block;
    width: 45%;
    text-align: center;
    height: 170px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.divtexto{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    background-color: #384F3B;
    color:white;
    margin-bottom: 25px;
    margin-top: 25px;

}
.apontar{
    cursor: pointer;
    margin-top: 10px;
}

.h1-ramos{
    display: flex;
    justify-content: center;
    margin-left: 0%;
    width: 100%;
    font-size: 25px;
    margin-top: 3%;
}

 /* ------------ Footer ------------ */

 :root {
    --color-neutral-0: #384F3B;
    --color-neutral-10: #ffffff;
    --color-neutral-20: #378241;
    --color-neutral-30: #171717;
    --color-neutral-40: #646262;
}

.input-group {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: 0.35rem;
    width: 200px;
}

#email {
    background-color: var(--color-neutral-0);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    font-size: 14px;
}

.input-group button {
    background-color: var(--color-neutral-20);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    padding: 0% 1.5rem;
    font-size: 1.520rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-10);
}

.footer-link {
    text-decoration: none;
}

.footer-content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
}

.footer-content {
    display: grid;
}

.footer-contacts h1{
    margin-bottom: 2.6rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: -10%;
}

.logo-asso {
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 200px;
    height: 25vh;
}

.footer-social {
    display: flex;
    gap: .5rem;
    margin-top: 1.3rem;
}

.footer-social .footer-link {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: var(--color-neutral-10);
    border-radius: 50%;
}

.footer-social .footer-link i {
    font-size: 1.40rem;
}

.footer-social .footer-link:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0%;
}

.p-msg {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-sobre {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-sobre {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-cadastro {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-cadastro {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

h2 {
    text-align: center;
}

.footer-list {
    color: var(--color-neutral-40);
}

.footer-list:hover {
    color: #7f37c9;
    transition: all 0.4s;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-subscribe p {
    color: var(--color-neutral-10);
}

.footer-direitos {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-30);
    font-size: 1.3rem;
    padding: 1.5rem;
    font-weight: 400;
}
}

@media screen and (min-width: 992px) {
/* ------------ Cabeçalho ------------ */

.navbar {
    display: block;
    padding: 0px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}
.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}

.fa-user {
    padding: 0px 40px 0px 0px;
    font-size: 36px;
}

#menu {
    display: inline;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 100%;
    z-index: 5;
}

#burguer {
    display: none;

}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
    width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--color-neutral-10);
    border-radius: 60%;
    margin: 30px;
    margin-left: 30%;
}

.h1-header {
    width: 80%;
    text-align: center;
    font-size: 30px;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

/* ------------ Main ------------ */

.button-content {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.cadbutton {
   padding: 6%;
   border-radius: 24px;
   border: none;
   width: 340px;
   color: var(--color-neutral-0);
   font-weight: 700;
   transition: .4s;
}

.cadbutton:hover {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-10);
    font-weight: 700;
    box-shadow: 0px 0px 5px 5px var(--color-neutral-30);
}

.divramos{
    display: inline-block;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-left: 52px;
    color: black;
    margin-bottom:25px ;
}

.divramos2{
    display: inline-block;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.divtexto{
    display: inline-block;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: justify;
    background-color: #384F3B;
    color:white
}
.tamanho{
    width: 160px;
    height: 160px;
}

.apontar{
    cursor: pointer;
    margin-top: 10px;
}

.h1-ramos{
    display: flex;
    width: 100%;
    margin-left: 1%;
    justify-content: center;
    font-size: 25px;
    margin-top: 12%;
    margin-bottom: 2%;
}

 /* ------------ Footer ------------ */

 .input-group {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: 0.40rem;
    width: 200px;
}

#email {
    background-color: var(--color-neutral-0);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    font-size: 14px;
}

.input-group button {
    background-color: var(--color-neutral-20);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    padding: 0% 1.5rem;
    font-size: 1.600rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-neutral-10);
}

.footer-link {
    text-decoration: none;
}

.footer-content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 1.2rem;
}

.footer-content {
    display: grid;
}

.footer-contacts h1{
    margin-bottom: 2.6rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: -10%;
}

.logo-asso {
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 200px;
    height: 25vh;
}

.footer-social {
    display: flex;
    gap: .5rem;
    margin-top: 1.3rem;
}

.footer-social .footer-link {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: var(--color-neutral-10);
    border-radius: 50%;
}

.footer-social .footer-link i {
    font-size: 1.40rem;
}

.footer-social .footer-link:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 10px;
    margin-bottom: 150px;
}

.p-msg {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-sobre {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-sobre {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-cadastro {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-cadastro {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

h2 {
    text-align: center;
}

.footer-list {
    color: var(--color-neutral-40);
}

.footer-list:hover {
    color: #7f37c9;
    transition: all 0.4s;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-subscribe p {
    color: var(--color-neutral-10);
}

.footer-direitos {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-30);
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: 400;
}
}

@media screen and (min-width: 1200px) {
/* ------------ Cabeçalho ------------ */

.navbar {
    display: block;
    padding: 0px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}
.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}
#menu {
    display: inline;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 100%;
    z-index: 5;
}

#burguer {
    display: none;

}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
    width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--color-neutral-10);
    border-radius: 60%;
    margin: 30px;
    margin-left: 30%;
}

.h1-header {
    width: 80%;
    text-align: center;
    font-size: 36px;
    margin: 5%;
    margin-right: 10%;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}


/* ------------ Main ------------ */

.button-content {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.cadbutton {
   padding: 6%;
   border-radius: 24px;
   border: none;
   width: 340px;
   color: var(--color-neutral-0);
   font-weight: 700;
   transition: .4s;
}

.cadbutton:hover {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-10);
    font-weight: 700;
    box-shadow: 0px 0px 5px 5px var(--color-neutral-30);
}

.divramos{
    display: inline-block;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-left: 62px;
    color: black;
    margin-bottom:25px ;
}

.divramos2{
    display: inline-block;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.divtexto{
    display: inline-block;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: justify;
    background-color: #384F3B;
    color:white
}
.tamanho{
    width: 160px;
    height: 160px;
}

.apontar{
    cursor: pointer;
    margin-top: 10px;
}

.h1-ramos{
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 12%;
    margin-bottom: 2%;
}


 /* ------------ Footer ------------ */

 .input-group {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: 0.50rem;
    width: 200px;
}

#email {
    background-color: var(--color-neutral-0);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    font-size: 14px;
}

.input-group button {
    background-color: var(--color-neutral-20);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    padding: 0% 1.5rem;
    font-size: 1.780rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    letter-spacing: 0px;
    width: 100%;
    color: var(--color-neutral-10);
}

.footer-link {
    text-decoration: none;
}

.footer-content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 1.2rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: -10%;
}

.logo-asso {
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 200px;
    height: 25vh;
}

.footer-social {
    display: flex;
    gap: .8rem;
    margin-top: 1.3rem;
}

.footer-social .footer-link {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: var(--color-neutral-10);
    border-radius: 50%;
}

.footer-social .footer-link i {
    font-size: 1.50rem;
}

.footer-social .footer-link:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 135px;
    gap: 12px;
}

.p-msg {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-sobre {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-sobre {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-cadastro {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-cadastro {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

h2 {
    text-align: center;
}

.footer-list {
    color: var(--color-neutral-40);
}

.footer-list:hover {
    color: #7f37c9;
    transition: all 0.4s;
}

.footer-subscribe p {
    color: var(--color-neutral-10);
}

.footer-direitos {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-30);
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: 400;
}
}

@media screen and (min-width: 1400px) {
/* ------------ Cabeçalho ------------ */

.navbar {
    display: block;
    padding: 0px;
    margin: 0%;
    text-align: center;
    background: linear-gradient(to top, #384f3b, #258d32);
}
.fundo-nav {
    display: flex;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center;
}
#menu {
    display: inline;
    position: absolute;
    right: 0;
    background: linear-gradient(to top, #384F3B, #258d32);
    width: 100%;
    z-index: 5;
}

#burguer {
    display: none;

}
.a-nav {
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.button-nav {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
    font-size: 14px;
    width: 120px;
}

.button-nav:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

.fundo-nav-img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: var(--color-neutral-10);
    border-radius: 60%;
    margin: 30px;
    margin-left: 30%;
}

.h1-header {
    width: 80%;
    text-align: center;
    font-size: 36px;
    margin: 5%;
    margin-right: 10%;
}

.list-a{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

/* ------------ Main ------------ */

.button-content {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.cadbutton {
   padding: 6%;
   border-radius: 24px;
   border: none;
   width: 340px;
   color: var(--color-neutral-0);
   font-weight: 700;
   transition: .4s;
}

.cadbutton:hover {
    background-color: var(--color-neutral-20);
    color: var(--color-neutral-10);
    font-weight: 700;
    box-shadow: 0px 0px 5px 5px var(--color-neutral-30);
}

.divramos{
    display: inline-block;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-left: 95px;
    color: black;
    margin-bottom:25px ;
}

.divramos2{
    display: inline-block;
    width: 45%;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.divtexto{
    display: inline-block;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: justify;
    background-color: #384F3B;
    color:white
}
.tamanho{
    width: 160px;
    height: 160px;
}

.apontar{
    cursor: pointer;
    margin-top: 10px;
}


.h1-ramos{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    margin-top: 12%;
    margin-bottom: 2%;
}

.p-texto{
    margin-bottom: 25px;
    margin-top: 25px; 
}

 /* ------------ Footer ------------ */

 .input-group {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

.input-group input {
    all: unset;
    padding: 0.50rem;
    width: 200px;
}

#email {
    background-color: var(--color-neutral-0);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    font-size: 14px;
}

.input-group button {
    background-color: var(--color-neutral-20);
    border: 3px solid var(--color-neutral-10);
    color: var(--color-neutral-10);
    padding: 0% 1.5rem;
    font-size: 1.780rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

footer {
    box-sizing: border-box;
    letter-spacing: 0px;
    width: 100%;
    color: var(--color-neutral-10);
}

.footer-link {
    text-decoration: none;
}

.footer-content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 1.2rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: -10%;
}

.logo-asso {
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 200px;
    height: 25vh;
}

.footer-social {
    display: flex;
    gap: .8rem;
    margin-top: 1.3rem;
}

.footer-social .footer-link {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    color: var(--color-neutral-10);
    border-radius: 50%;
}

.footer-social .footer-link i {
    font-size: 1.50rem;
}

.footer-social .footer-link:hover {
    opacity: 0.8;
    transition: all 0.4s;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.p-msg {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-sobre {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-sobre {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

.h2-cadastro {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p-cadastro {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: justify;
}

h2 {
    text-align: center;
}

.footer-list {
    color: var(--color-neutral-40);
}

.footer-list:hover {
    color: #7f37c9;
    transition: all 0.4s;
}

.footer-subscribe p {
    color: var(--color-neutral-10);
}

.footer-direitos {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-30);
    font-size: 1.5rem;
    padding: 1.5rem;
    font-weight: 400;
}
}